:root {
    --white: #ffffff;
    --black: #000000;
    --dark-gray: #333333;
    --gray: #757575;
    --light-gray: #F1F1F1;

    --font-main: "Karma", serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.full-web{
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
}

.big-gray{
    font-size: larger;
    color: var(--gray);
    display:flex;
    flex-direction: column;
    gap: 14px;
    font-weight: bold;
}
.jeans-icon{
    display: flex;
    align-items: center;
}
.jeans-icon p{
    color: var(--black);
}
.jeans-icon img{
    width: 20px;
    height: 20px;
}
.clothes-list{
    margin: 120px 0px;
}
.aside{
    position: sticky;
    top: 0;
    height:100vh;
    padding:50px;
    margin:0;
    overflow-y: auto;
}
.hover-gray:hover{
    background-color: var(--gray);
    color: var(--black);
    padding: 8px 14px;
}
.small-gray{
    font-size: medium;
    margin: 40px 15px;
    display:flex;
    flex-direction: column;
    gap: 14px;
    color: var(--gray);
    font-weight: bold;
}
.small-black{
    display:flex;
    flex-direction: column;
    gap: 14px;
}
.skinny{
    color:var(--black);
    background-color: var(--light-gray);
    padding: 8px 14px;
}
.main-header{
    margin: 50px 30px;
    display:flex;
    align-items: center;
    justify-content: space-between; 
}
.header-images{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-images img{
    width:30px;
    height: 30px;
    display: block;
}
.hero-section img{
    width: 900px;
    margin-left: 30px;
    position: relative;
}
.available-items {
    position: absolute;
    top: 35%;
    left: 30%;
    display:flex;
    flex-direction: column;
    gap: 14px;
}
.arrivals{
    color:var(--white);
    font-size: 70px;
}
.collection{
    color:var(--white);
    font-size: 40px;
}
main{
    margin: 30px;
    margin-bottom: 0;
}
.shop{
    color:var(--white);
    font-size: 20px;
    background-color: var(--black);
    padding: 10px 15px;
    width: 200px;
    text-align: center;
}
.shop-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.jeans-card img{
    width: 210px;
    margin-left: 5px;
}
.jeans-card{
    width:200px;
    position: relative;
}
.description{
    font-size: larger;
    margin-left:5px;
}
.price{
    margin-left:5px;
    font-weight: bold;
}
.red{
    color:rgb(139,95,91);
}
.social-media{
    width:20px;
    height: 20px;
}
.contact img, .payment img{
    width: 16px;
    height: 16px;
}
.about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer{
    margin: 0px 30px;
}
.contact, .payment, .social-media{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Subscribe{
    background-color: var(--black);
    padding: 50px 20px;
    margin-top: 30px;
}
.Subscribe h1, .Subscribe p, .Subscribe button {
    color: var(--white)
}
.Subscribe button{
    background-color: red;
    padding: 12px 18px;
    border: none;
    margin-top: 20px;
}
.Subscribe button:hover, .shop:hover{
    background-color: var(--gray);
}
.Subscribe input{
    padding: 14px 16px;
    width: 800px;
}
.Subscribe p, button, input {
    font-size: large;
}
.about{
    background-color: var(--light-gray);
    padding: 80px 0px;
}
.about-links a{
    color: var(--black);

}
.about-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.store-info{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.contact-info input, .contact-info button{
    font-size: small;
    padding: 10px;
}
.contact-info button{
    padding: 10px;
    background-color: var(--black);
    color: var(--white)
}
.contact-info h2, .contact-info p{
    text-align: center;
}
.black-footer{
    background-color: var(--black);
    color: var(--white);
    padding: 40px;
    text-align: center;
}
.black-footer a{
     color:white;
}
.sale, .new{
    background-color: var(--black);
    color: var(--white);
    width:40px;
    padding:5px;
    position: absolute;
    top:0%;
    left:5px;
}
